<div id="addPro">
<form id="addform" >
    <div id="info">
        <h3>商品信息：</h3><br>
        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tr>
                <td width="10%" height="38" class="td_gray01">商品名称：<span style="color:red">*</span></td>
                <td width="55%" height="38" class="td_gray01">
                <input type="text" id="proName" name="product.proName" required class="form-contrl" maxlength="30"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01"> 商品类型：<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="type" name="product.type"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">有效期开始：<span style="color:red">*</span></td>
                <td height="38" class="td_gray01">
                <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="product.startDt" id="productstartDt">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>  
                </td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">有效期结束：<span style="color:red">*</span></td>
                <td height="38" class="td_gray01">
                <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="product.endDt" id="productEndDt">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div> 
                </td>
            </tr>
             <tr>
                <td height="38" class="td_gray01">商品图片：</td>
                <td height="38" class="td_gray01"><input type="file" class="projectfile" id="proFile" name="proFile" />
                </td>
            </tr>
        </table>
    </div>

    <div class="clear"></div>
    <div id="info">
        <p><h3>行政审批许可信息</h3></p>
        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tr>
                <td width="10%" height="38" class="td_gray01">审批项目:<span style="color:red">*</span></td>
                <td width="55%" height="38" class="td_gray01"><input type="text" id="approvalInfoName" name="approvalInfo.name"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">凭证号码:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="approvalInfoAuditNum" name="approvalInfo.auditNum"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">有效期至:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01">
                <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="approvalInfo.dtTerm" id="approvalInfoDtTerm">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div> 
               </td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">审批机构:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="approvalInfoApprovOrg" name="approvalInfo.approvOrg"></td>
            </tr>
        </table>
        <p></p>
    </div>

    <div id="info">
        <p><h3>商品检测信息</h3></p>
            
            <table id="ins_table" width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tr><input type="button" value="添加" id="addInsBtn"></tr>
            <tr id="ins_header">  
				 <td style="width:32%">检测内容</td>  
				 <td style="width:45%">检测机构</td>  
				 <td style="width:13%">检测结果</td>
				 <td style="width:10%">操作</td>    
			 </tr>  
	         <tr id="ins_tr_0">
	                <td width="32%" height="38" class="td_gray01"><input type="text" name="inspectionInfos[0].content"></td>
	                <td width="45%" height="38" class="td_gray01"><input type="text" name="inspectionInfos[0].inspOrg"></td>
	                <td width="13%" height="38" class="td_gray01"><input type="text" name="inspectionInfos[0].result"></td>
	                <td width="10%" height="38" class="td_gray01"><input type="button" value="删除" class="deleteBtn" ></td>
	         </tr>
	            
        </table>
			
			<table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tr>
                <td width="10%" height="38" class="td_gray01">检测报告：<span style="color:red">*</span></td>
                <td width="55%" height="38" class="td_gray01"><input type="file" class="projectfile" id="insFile" name="insFile" /></td>
            </tr>
            </table>
    </div>
    <div id="info">
        <p><h3>经营主体</h3></p>

        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tbody>
            <tr>
                <td width="10%" height="38" class="td_gray01">选择经营主体:</td>
                <td width="55%" height="38" class="td_gray01">
                <select id="managementSel" name="management.id">
                  <option value='0'>请选择经营主体</option>
        		</select></td>
            </tr>
            <tr>
                <td width="10%" height="38" class="td_gray01">经营主体名称:<span style="color:red">*</span></td>
                <td width="55%" height="38" class="td_gray01"><input type="text" id="managementName" name="management.name"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">社会统一信用代码:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="managementCreditCode" name="management.creditCode"></td>
               
            </tr>
            <tr>
                <td height="38" class="td_gray01">营业期限:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01">
                <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="management.startDt" id="managementStartDt">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>            
                 至
                 <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="management.endDt" id="managementEndDt">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>
                 </td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">保健食品生产销售行政许可:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="managementPermit" name="management.permit"></td>
            </tr>
        </tbody></table>

        <p></p>
    </div>
    <div id="info">
        <p><h3>品牌信息</h3></p>
        
        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tbody>
            
            <tr>
                <td height="38" class="td_gray01">选择品牌:</td>
                <td height="38" class="td_gray01">
                		<select id="brandSel" name="brand.id">
					            <option value='0'>请选择品牌</option>
					      </select>
               </td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">品牌名称:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="brandName" name="brand.name"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">品牌状态:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="brandStatus" name="brand.status"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">品牌注册证号:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="brandNum" name="brand.num"></td>
            </tr>
            <tr>
                <td width="10%" height="38" class="td_gray01">品牌权利人:<span style="color:red">*</span></td>
                <td width="55%" height="38" class="td_gray01"><input type="text" id="brandAuthor" name="brand.author"></td>
            </tr>
        </tbody></table>

        <p></p>
    </div>
    <div id="info">
        <p><h3>生产主体</h3></p>
	         
        <table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" class="box01">
            <tbody>
            <tr>
                <td width="10%" height="38" class="td_gray01">请选择生产主体:</td>
                <td width="55%" height="38" class="td_gray01">
		                <select id="producerSel" name="producer.id">
				            <option value='0'>请选择生产主体</option>
				         </select></td>
            </tr>
            <tr>
                <td width="10%" height="38" class="td_gray01">生产主体名称:<span style="color:red">*</span></td>
                <td width="55%" height="38" class="td_gray01"><input type="text" id="producerName" name="producer.name"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">社会统一信用代码:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01"><input type="text" id="producerCreditCode" name="producer.creditCode"></td>
            </tr>
            <tr>
                <td height="38" class="td_gray01">营业期限:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01">
                 <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="producer.startDt" id="producerStartDt">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>  至
                 <div class="input-append date date-picker" id="datetimepicker" data-date-format="yyyy-mm-dd">
				    <input class="span2" size="16" type="text" name="producer.endDt" id="producerEndDt">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>
                </td>
               
            </tr>
            <tr>
                <td height="38" class="td_gray01">保健食品生产销售行政许可:<span style="color:red">*</span></td>
                <td height="38" class="td_gray01" ><input type="text" id="producerPermit" name="producer.permit"></td>
            </tr>
        </tbody></table>
    <div id="query_hint" class="query_hint" style="display:none">
       <img th:src="@{/images/spinner.gif}" style="width:30px;height:30px;margin-left:40%;">正在提交，请稍等.
    </div>
    </div>
       <input type="button" value="申请认证" class="btn btn-success" id="applyBtn" style="margin-top:20px; margin-left:40%;">
</form>
<div id="info">
        <p style="color:red">申请须知： <br> </p>
        <ul>
           <li style="color:red">本商品INCC认证审核需人工审核，请耐心等待1-3个工作日. </li>
        </ul>
        <p align="right"><strong>中国保护消费者基金会 <br>
            安全消费中国行 INCC项目组 <br>
    </div>

<!--end-Footer-part-->
	<link rel="stylesheet" th:href="@{/css/fileinput.min.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}" />
	<link rel="stylesheet" th:href="@{/css/addPro.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}" ></script>
	<script th:src="@{/js/fileinput.min.js}" ></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}" ></script>
	<script th:src="@{/locales/bootstrap-datepicker.zh-CN.min.js}" ></script>
	<script th:src="@{/js/zh.js}" ></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/layer.js}"></script>
	<script th:src="@{/js/lodash.js}"></script>
	<script th:src="@{/js/addPro.js}"></script>
	<script type="text/javascript">
		
	</script>
	
	
</div>
