<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>登录页面</title>

		<meta name="description" content="用户登录" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet"th:href="@{/font-awesome/4.2.0/css/font-awesome.min.css}" />

		<!-- ace styles -->
		<link rel="stylesheet" th:href="@{/css/ace.min.css}" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" th:href="@{/css/ace-part2.min.css}" />
		<![endif]-->
		<link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}" />
		

		<!--[if lte IE 9]>
		  <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}" />
		<![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script th:src="@{/js/html5shiv.min.js}"></script>
		<script th:src="@{/js/respond.min.js}"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container" style="margin-top:100px;">
							<div class="center">
								<h2>
									<img th:src="@{images/logo.png}" alt="Logo" width="90px"/>
									<span class="white" id="id-text2">网络商品资质管理系统</span>
								</h2>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												请输入您的信息
											</h4>

											<div class="space-6"></div>
											<span th:text="${msg}"></span>
											<form id="loginform"  th:action="@{/login}" action="" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" class="form-control" placeholder="用户名" required />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input  type="password" name="password" class="form-control" placeholder="Password" required />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"> 记住</span>
														</label>

														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登录</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											
										</div><!-- /.widget-main -->

									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->
							</div><!-- /.position-relative -->

						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script th:src="@{/js/jquery.2.1.1.min.js}"></script>
		<script th:src="@{/js/layer.js}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script th:src="@{/js/jquery.1.11.1.min.js}"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});
			
			jQuery(function($) {
			 $('#btn-login-dark').on('click', function(e) {
				$('body').attr('class', 'login-layout');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-light').on('click', function(e) {
				$('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-blur').on('click', function(e) {
				$('body').attr('class', 'login-layout blur-login');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'light-blue');
				
				e.preventDefault();
			 });
			 
			 var createCode = "";
			 
			 $("#createCode").on("click", function(e){
				 createCode = "";
				 for(var i=0;i<6;i++) 
				 { 
					 createCode+=Math.floor(Math.random()*10); 
				 } 
				 $("#validateCode").val(createCode);
			     
			 });
			 
			 $("#createBtn").on("click", function(e){addUser();});
			 
			//添加用户
			    function addUser() {
			        var username = $("#username").val();
			        var password1 = $("#password1").val();
			        var password2 = $("#password2").val();
			        var validateCode = $("#validateCode").val();
			        if(username == "" || username == undefined || username == null){
			            return layer.msg('用户名不能为空', function(){
			                //关闭后的操作
			            });
			        }
			        if(password1.length<6||password1.length>=16){
			            return layer.msg('密码长度为6-16', function(){
			                //关闭后的操作
			            });
			        }
			        
			        if(password2.length<6||password2.length>=16){
			            return layer.msg('密码长度为6-16', function(){
			                //关闭后的操作
			            });
			        }

			        if(password1 != password2){
			            return layer.msg('两次输入密码不同', function(){
				                //关闭后的操作
				            });
			        }
			        
			        if(validateCode == null) {
			        	return layer.msg('请填写验证码', function(){
			                //关闭后的操作
			            });
			        }
			        
			        if(createCode != validateCode){
			        	return layer.msg('验证码输入有误', function(){
			                //关闭后的操作
			            });
			        }
			        var form = $('#createUserForm')[0];
			        var data = new FormData(form);
			        $.ajax({
			            cache: false,
			            enctype: "multipart/form-data",
			            type: "POST",
			            url:'users/add',
			            data:data,// 你的formid
			            processData: false,
			            contentType: false,
			            success: function(data) {
			                if(data=="success"){
			                    layer.msg('保存成功');
			                   $("#signup-box").removeClass("visible");
			                   $("#login-box").addClass(" visible");
			                }else if(data="error"){
			                    layer.msg('该用户已存在');
			                   
			                }else{
			                    layer.msg('保存失败');
			                   
			                }
			            }
			        });
			    }
			 
			});
		</script>
	</body>
</html>
