<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <title>INCC</title>
</head>
<body>

<!--Header-part-->
<div id="header">
<!--top-Header-menu-->
<div id="user-nav2"  style="float:left;"> 
			<img th:src="@{/images/logo.png}" style="width:120px;">
            <span  style="font-size:22px;color:white">网络商品资质合规管理系统</span>
</div>
<div th:include="common/top :: top"></div>
</div>
<!--close-Header-part-->
<div th:include="common/menu :: menu"></div>

<div id="content">
  
</div>

<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; yqj <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script type="text/javascript">

    $(document).ready(function() {
    
    	

    });

</script>

</body>
</html>